[Interface]
Address = {{ wg_client_ipaddr }}
PrivateKey = {{ wg_client_privatekey }}
DNS = 1.1.1.1

[Peer]
PublicKey = {{ wg_server_publickey }}
Endpoint = {{ wg_server_endpoint }}
AllowedIPs = 0.0.0.0/0
